* {
    margin: 0;
    padding: 0;
}
body{
    width: 600px;
    height: 600px;
}
.main{
    background: azure;
    border: 2px solid #4CAF50;;
    width: 100%;
    height: 531px;
    margin: 0 auto;
    font-size: 20px;

}
.main input{
    border:1px solid #9E9E9E;
    color: #000000;
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 11px;
    background: #FFF;
    height: 21px;
    width: 592px;
}
.element{
    text-align: center;
}
.main-window{
    height: 500px;
    overflow: auto;
}
.sendbutton{
    display: inline-block;
    padding: 5px 14px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 1px #999;
}
.sendbutton:hover {background-color: #3e8e41}

.sendbutton:active {
    background-color: #3e8e41;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}