* {
    margin: 0;
    padding: 0;
}
body{
    height: 600px;
}
.main{
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.main input{
    border:1px solid #9E9E9E;
    color: #000000;
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 11px;
    background: #FFF;
    height: 21px;
    width: 100%;
}

.element{
    text-align: center;
}
.main-window{
    display: flex;
    flex-direction: column;
    background-color: #e2e2e2;
    height: 500px;
    padding: 20px;
    overflow-y: scroll;
}

.sendButton{
    display: inline-block;
    padding: 5px 14px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;

}
.sendButton:hover {background-color: #3e8e41}

.sendButton:active {
    background-color: #3e8e41;
    transform: translateY(4px);
}
.authorName{
    color: lightsteelblue;
    font-size: 10px;
}

.message {
    background-color: lightblue;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 18px;
    margin: 5px;
    /*max-width: 100px;*/
}
.message-wrap{
    display: flex;
    margin: 10px 0 0 0;
}
.Layout{

}
.Layout-wrap{
    display: flex;
}
.list-wrap{
    margin: 2px 276px 11px 0;
}
.header-wrap{
    display: flex;
    margin: 20px 0px 20px 20px;
}
.logo{

}
.logo-header{
    margin: 0 0 0 45px;
}
.form-wrap{
    flex: 1;
}
.messages{
    width: 100%;
}

