* {
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 600px;
}
.main{
    height: 100%;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.form-wrap{
    width: 100%;
}

.main input{
    border:1px solid #9E9E9E;
    color: #000000;
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 11px;
    background: #FFF;
    height: 21px;
    width: 200px;
}
.element{
    text-align: center;
}
.main-window{
    display: flex;
    flex-direction: column;
    background-color: #e2e2e2;
    height: 500px;
    width: 100%;
    padding: 20px;
    overflow-y: scroll;



}
.sendbutton{
    display: inline-block;
    padding: 5px 14px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 1px #999;
}
.sendbutton:hover {background-color: #3e8e41}

.sendbutton:active {
    background-color: #3e8e41;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}
.authorName{
    color: lightsteelblue;
    font-size: 10px;
}

.message {
    background-color: lightblue;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 18px;
    margin: 5px;
    /*max-width: 100px;*/
    position: relative;
    min-width: 15%;

}
.message-wrap{
    width: 50%;
    margin: 20px auto;
}
.Layout{

}
.Layout-wrap{
    display: flex;
}
.list-wrap{
    margin: 2px 276px 11px 0;
}
.header-wrap{
    display: flex;
    margin: 20px 0 20px 20px;
}
.logo{

}
.logo-header{
    margin: 0 0 0 45px;
}
.deleteButton{
    position: absolute;
    cursor: pointer;
    left: 75%;
    width: 10px;
    height: 10px;
}


@-webkit-keyframes pulsate {
    50% { color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; }
}
@keyframes pulsate {
    50% { color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; }
}
.blink {
    color: rgb(245,245,245);
    text-shadow: 0 -1px rgba(0,0,0,.1);
    background: green;
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
}


